.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid;
  padding: 10px;
}

nav {
  display: flex;
}

a {
  text-decoration: none;
  padding: 8px;
  border: 1px solid;
  color: black;
}

.image-logo {
  height: 75px;
  width: 75px;
  display: block;
  background-image: url(https://dummyimage.com/600x400/000/fff&text=ini+logo);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.home {
  background-color: yellow;
}

.profile-banner {
  background-image: url(../assets/Nature.jpg);
  border: 2px solid;
  background-size: cover;
  height: 1366px;
  width: auto;
  background-position: center;
}

.profile-banner > p {
  padding: 5px;
}

footer {
  display: flex;
  border: 1px solid;
  /* background-color: salmon; */
  justify-content: flex-end;
  margin-top: 20px;
}

footer > p {
  color: red;
  padding: 10px;
}
